body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	/* padding: 0 20px; */
}
.tainer{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  right: 20rem;
  top: 5rem;
  
}
#text-one{
  position: relative;
  top: 3rem;
  font-size: 5rem;
  filter: drop-shadow(rgb(147, 147, 147) 0px 0px 0.3rem);
  animation: ops 3s alternate;
}
@keyframes ops{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

header {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(139,139,139,0) 100%);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
	/* background-color: #000;
	color: #fff; */
	padding: 10px 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  animation: opp 1.5s alternate;
}
/* @keyframes opp{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
} */

header a {
	color: #fff;
	text-decoration: none;
  filter: drop-shadow(0 0 0.3rem rgb(147, 147, 147));
  transition: 0.3s ease-in-out;
  animation: op 1.9s alternate;
}
@keyframes op{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

nav {
	float: right;
  
}

nav ul {
	list-style: none;
	/* margin: 0; */
	padding: 0;
  margin-left: 34rem;
  
}

nav li {
	display: inline;
	margin-left: 20px;
}

nav a {
	/* display: block; */
	padding: 10px 15px;
  
}


nav a:hover {
  filter: drop-shadow(0 0 1.3rem rgb(147, 147, 147));
  -webkit-text-stroke: 2px #e9e9e9;
}

.hero {
	background-image: url(braden-collum-9HI8UJMSdZA-unsplash.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
  font-family: 'Raleway', sans-serif; 
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	color: #fff;
}

.hero h1 {
	font-size: 50px;
	/* margin-bottom: 20px; */
  /* float: left; */
}

/* .hero p {
	font-size: 24px;
	margin-bottom: 30px;
} */

.btn {
  width: 120px;
  height: 20px;
  font-size: 18px;
  padding: 12px 20px;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.4s ease-in-out;
  animation: tion 3.5s alternate;
  opacity: 100%;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: center;
}
@keyframes tion{
  0%{
    opacity:0%;
  }
  60%{
    opacity:0%;
  }
  100%{
    opacity: 100%;
  }
}

.btn:hover {
	background-color: #333;
	color: #fff;
}

.product-item{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

  width:500px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  
}
.product-item img {
	width:500px;
  height: 450px;
  border-radius: 45px;
}
.text-two{
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  /* border: 1px solid red; */
  padding: 20px;
  border-radius: 45px;
  font-size: 45px;
  width: 30rem;
  text-align: center;
}
.rd{
  width: 100%;
  height: 85vh;
  background-image: url(last1.jpg);
  background-size: cover;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-bottom: 90px;
}
.uff{
  position: relative;
  top: 5rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}




#gg{
    width: 80px;
    position: fixed;
    top: 30px;
    
    
}

#img2{
  width: 2rem;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.3rem rgb(147, 147, 147));
  animation: imgs 1s alternate;
}
#img1{
  width: 2rem;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.3rem rgb(147, 147, 147));
  animation: imgs 1s alternate;
}
#img3{
  width: 2rem;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 .5rem rgb(147, 147, 147));
  animation: imgs 1s alternate;
}
@keyframes imgs{
  0%{
    opacity:0%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
#img3:hover{
  filter: drop-shadow(0 0 1.5rem rgb(0, 0, 0));
  
}
#img1:hover{
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  
}
#img2:hover{
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}
#test{
  position: relative;
  width: 60rem;
  height: 7.5rem;

  box-sizing: border-box;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  /* border: 1px solid red; */
  left: 8rem;
  padding: 1.2rem;
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 55px;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}
#test:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.iconsss{
  display: inline-flex;
  
}
.iconsss img{
  width: 45px;
  padding-left: 10px;
  padding-right: 10px;
}
#kkk{
  width: 50px;
  
}
.ainer{
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 100px;
  
}
footer {
	background-color: black;
	color: #fff;
	padding: 50px 0;
  /* height: 45vh; */
}

footer h4 {
	font-size: 40px;
	margin-bottom: 20px;
}
footer p{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
} 

.footer-left{
 
  width: 400px;
}
.footer-right{
 
  width: 400px;
 
}
.ffff{
  background-color: transparent;
  border: 1px solid white;
  padding: 8px;
  

}
.form-group{
  padding-bottom: 15px;
  position: relative;
  left: 80px;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.list-two{
  list-style: none;
  position: relative;
  right: 58px;
  bottom: 10px;
}

